body{
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    color: white;
    
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: #55d6aa;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.title{
    float: left;
    
}
nav{
    float: right;
    
}
nav ul{
  margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    text-decoration: none;
    
}

nav li{
    
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform:uppercase;
}
.title h1{
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 50px;
    float: left;
}
.messages{
    float: left;
    margin-top: 120px;
    margin-left: 140px;
}
.add{
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}